@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: #101318;
  font-family: "Fira Code", serif;
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 50px 20px;
  gap: 15px;
}

.main__element {
  color: #61afef;
  font-size: 24px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  z-index: 10;
  cursor: pointer;
}

.main__element:hover {
  color: #e5c07b;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  overflow-y: hidden;
  overflow-x: hidden;
}

.info__block {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 150%;
  font-weight: 200;
  color: #abb2bf;
  background-color: #23272e;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__block_text:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 10px 20px 0px 20px;
}

.info__block_example img {
  max-width: 100%;
}

.syntax__block ul li {
  margin: 0 0 0 20px;
  list-style: disc;
}

.syntax__block span {
  cursor: pointer;
}

.methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 768px;
  padding: 0px 5px 45px 5px;
  margin-right: 100px;
  display: none;
}
.methods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  z-index: 9;
}

.method {
  color: #61afef;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.method:hover {
  color: #e5c07b;
}

.keys__info {
  display: none;
}

.values__info {
  display: none;
}

.push__info {
  display: none;
}

.pop__info {
  display: none;
}

.shift__info {
  display: none;
}

.unshift__info {
  display: none;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}